  <div class=main>
    <div>
      <!--some bla bla simulating the main page-->
      <h1>Twitter#test</h1>
      <p>Find me in app/views/twitter/test.html.erb</p>
      <h1>First experiment with erb</h1>
      <p>Loop from 0 to 5:
      <% (0..5).each do |i| %>
      <%= "#{i}, " %>
      <% end %>
      </p>
    </div>
    <div class=footer>
      <%= render "footer" , :start_year => '2020' %>
    </div>
  <%= render "twitter" %>
    </div>
