// Place all the styles related to the Twitter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
// style="width:100%; display:block; margin-left: auto; margin-right: auto"
// style="float:left"
// style="float:right; width:20%"
// style="font-size:10px"
}
.mainmain {
  display: inline;
  box-sizing: border-box;
// style="width:100%; display:block; margin-left: auto; margin-right: auto"
// style="float:left"
// style="float:right; "
// style="font-size:10px"
}
.main {
  width:80%;
  box-sizing: border-box;
// style="width:100%; display:block; margin-left: auto; margin-right: auto"
// style="float:left"
// style="float:right; "
// style="font-size:10px"
}
.twitter {
  float:right;
  width:20%;
  box-sizing: border-box;
// style="width:100%; display:block; margin-left: auto; margin-right: auto"
// style="float:left"
// style="float:right; width:20%"
// style="font-size:10px"
}
