// Place all the styles related to the Twitter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
  position: fixed;
  overflow : hidden;
  bottom: 0px;
  height: 45px;
}
.twitter {
  position: fixed;
  top: 0;
  right: 10px;
  bottom: 0;
  overflow: auto;
  width: 250px;

}
.twitter_header {
  padding-top: 8px;
  height: 30px;
  font-size: 15px ;
  font-family: Verdana ;
  text-align: center;
}
// .twitter.content {
//   text-align: center;
// }
.tweets {
  border-bottom-style: solid;
  display: inline;
  height: 32px;
  width: 100%;
  position: absolute;
  // text-align: center;
}
#tweets_pic {
  display: block;
  float: left;
  width: 28px;
  height: 33px;
  padding-left: 8px;
  padding-top: 8px;
  // background: hsl(0, 0%, 30%);
}
.tweets_name {
  padding-left: 45px;
  padding-top: 8px;
  height: 100%;
}
.tweet_text {
  padding-left: 8px;
  padding-top: 45px;
}
.text_date {
  padding-left: 8px;
  padding-top: 4px;
  font-size: 12px ;
}
.twitter_footer {
  padding-top: 8px;
}
